%section.section
  .columns
    .column
    .column
      .card
        .card-content
          .content
            #clearance.sign-in
              %h2= t('.title')
              = render '/sessions/form'
    .column
