%footer
  .container
    .columns
      .column
        .has-text-weight-bold
          = Rails.configuration.x.application_name
          project
        = link_to 'About', '/about'
      .column
        .has-text-weight-bold Legal
        %ul
          %li= link_to 'Privacy', '/legal/privacy'
          %li= link_to 'Terms', '/legal/terms'
      .column
