:ruby
  attributes = {
    "aria-label": "main navigation",
    role: "navigation"
  }

%nav.navbar.is-fixed-top.is-primary{ attributes }
  .navbar-brand
    = link_to "/", class: "navbar-item" do
      - if content_for(:title)
        %h1.title
          Ferret >
          = content_for(:title)
      - else
        %h1.title Ferret
