%nav.navbar.is-primary.navbar-main{ role: "navigation",
                                    aria_label: "main navigation" }
  .container{ class: ("is-fluid" if defined? fullscreen)}
    .navbar-brand
      = link_to "/", class: "navbar-item", title: "Home" do
        %span.item-handle.icon
          %i.fa.fa-home
    .navbar-menu
      .navbar-start
        .navbar-item
          - if content_for?(:breadcrumbs)
            %nav.breadcrumb{ "aria-label": "breadcrumbs" }
              %ul= content_for(:breadcrumbs)
          - else
            All the places in a single place.
      .navbar-end
        .navbar-item
          - if signed_in?
            = button_to t(".sign_out"), sign_out_path, method: :delete,
              class: "button is-black"
          - else
            = link_to t(".sign_in"), sign_in_path,
              class: "button is-white is-hidden"
