{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],

  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "syntax-dynamic-import",
    "transform-class-properties"
  ]
}
