- content_for :title, "Edit “#{@map.name}”"

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, edit_map_path(@map)]])

.columns.columns--reset.flex-el__child-grow
  .column.is-one-third.is-paddingless.map__places-column
    #places-panel.column__panels.edit-box
      .column__panel.column__panel--stay
        = render "form", map: @map
      .column__panel.column__panel--grow
        #places-list{ ":map": @map.id, ":places": @map.pins.to_json }
  .column.is-paddingless.map-wrapper
    .columns.columns--reset
      .column
        #search-panel{ ":map": @map.id }
      .column
        #map{ class: "map", ":places": @map.pins.to_json }

= javascript_pack_tag "maps_edit"
= stylesheet_pack_tag "maps_edit"
