- content_for :title, raw("Edit “#{@map.name}”")

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, edit_map_path(@map)]])

.columns.is-marginless.u-fullheight
  .column.map__left-column.is-one-third.is-paddingless.is-hidden-mobile
    #places-panel.column__panels.edit-box
      .column__panel.column__panel--stay
        = render "form", map: @map
      .column__panel--grow
        #places-list{ ":map": @map.id, ":places": @map.pins.to_json }
  .column.map__right-column.is-two-thirds.is-paddingless.u-fullheight
    .columns.map-wrapper.is-marginless.u-fullheight
      .column.is-three-quarters-mobile
        #search-panel{ ":map": @map.id }
      .column
        #map{ class: "map", ":places": @map.pins.to_json }

= javascript_pack_tag "maps_edit"
= stylesheet_pack_tag "maps_edit"
