- content_for :title, "Edit “#{@map.name}”"

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, edit_map_path(@map)]])

#edit-map.flex-el__child-grow
  .columns.is-variable.is-2
    .column
      #places-panel
        .box.edit-box
          = render "form", map: @map
          %hr
          #places-list{ ":map": @map.id, ":places": @map.pins.to_json }
    .column
      #search-panel{ ":map": @map.id }
    .column
      #map-panel
        #map

= javascript_pack_tag "hello_vue"
= stylesheet_pack_tag "hello_vue"
