- content_for :title, "Maps"

- content_for :breadcrumbs, breadcrumbs([["Maps", maps_path]])

.columns.is-gapless.columns--tall
  .column
    %section.section
      %h2.title.is-2 Available maps
      - if @maps.empty?
        = 'No maps available'
        = render 'map_new' if signed_in?
    - if @maps.any?
      .box-of-maps
        = render 'map_new' if signed_in?
        = render @maps
