- content_for :title, "Maps"

- content_for :breadcrumbs, breadcrumbs([["Maps", maps_path]])

%section.hero.is-link
  .hero-body
    .container
      %h1.title Available maps

%section.section
  .container
    / %h1.title Available maps

    - if @maps.empty?
      = 'No maps available'
      = render 'map_new' if signed_in?
      -# TODO: Improve this
    - else
      .columns.is-multiline
        - if signed_in?
          .column.is-half= render 'map_new'
        - @maps.each do |map|
          .column.is-half= render map
