- content_for :title, "Maps"

- content_for :breadcrumbs, breadcrumbs([["Maps", maps_path]])

%section.hero.is-primary
  .hero-body
    .container
      -#%h1.title Available maps
      %h1.title Découvrir New York en Séries

%section.section
  .container
    .columns.is-multiline
      - if signed_in?
        .column.is-half= render 'map_new'
      - @maps.each do |map|
        .column.is-half= render map
      - if @maps.blank?
        .column No maps available yet
