- content_for :title, "Maps"

- content_for :breadcrumbs, breadcrumbs([["Maps", maps_path]])

%section.hero.is-primary
  .hero-body
    .container
      -#%h1.title Available maps
      %h1.title Découvrir New York en Séries

%section.section
  .container
    .columns.is-multiline
      - if @maps.empty?
        - if signed_in?
          .column.is-half= render 'map_new'
        - else
          .column No maps available yet
        -# TODO: Improve this
      - else
        - if signed_in?
          .column.is-half= render 'map_new'
        - @maps.each do |map|
          .column.is-half= render map
