- content_for :title, "New map"

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], ["New map", new_map_path]])

%section.hero.is-primary
  .hero-body
    .container
      %h1.title New map

%section.section
  .container
    = render "form", map: @map
