- content_for :title, @map.name

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, map_path(@map)]])

%section.section--tall
  .columns.is-gapless.columns--tall
    .column.is-one-third.flex-el
      .hero.is-primary.flex-el__child-keep
        .hero-body
          .container
            %h2.subtitle= @map.description
            - if signed_in?
              %h2.subtitle
                = link_to edit_map_path(@map) do
                  %strong Edit >
      #places-panel.places-panel.flex-el__child-grow
        %section.section
          #places-list{ ":logged_in": current_user.present?.to_s,
                        ":map": @map.id,
                        ":places": @map.pins.to_json }
    .column
      .map-wrapper.u-fullheight
        #map

= javascript_pack_tag "map_show"
= stylesheet_pack_tag "map_show"
