- content_for :title, @map.name

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, map_path(@map)]])

%section.hero.is-primary
  .hero-body
    .container
      %h2.subtitle= @map.description
      %h2.subtitle
        = link_to edit_map_path(@map) do
          %strong Edit >

%section
  .container
    TODO: Show list of places and map
