// Bulma customisation
// https://bulma.io/documentation/overview/customize/

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
$purple: #57068c;
$purple-invert: #fff;

$french-plum: #870058;

// 3. Set the derived variables
// Base
$primary: $purple;
$primary-invert: $purple-invert;

$info: #4CE0D2;
$link: #4CE0D2;

// Other possibilities:
// - #FE5F55 and #99E1D9
// - #F64740 for links

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";

// Breadcrumb
// https://bulma.io/documentation/components/breadcrumb/
$breadcrumb-item-color: white;
$breadcrumb-item-hover-color: whitesmoke;
$breadcrumb-item-active-color: $info;
// $breadcrumb-item-separator-color: $text;

@import '~bulma/bulma';
