html,
body {
  margin: 0;
  padding: 0;
}

/* Overlay important panels over map */
#places-panel,
#search-panel {
  position: relative;
  z-index: 1;
}

.edit-box {
  /* TODO: improve */
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
}


.card + .card {
  margin-top: 30px;
}



.places-panel {
  overflow: auto;
}


/* Navbar */
.navbar-main {
  z-index: 1000;
}



/**
 * List
 */
.ul {
  list-style-type: square;
  padding-left: 20px;

  & + .p,
  & + .ul {
    margin-top: 10px;
  }
}

.li {}


/**
 * Paragraph
 */
.p {
  & + .p,
  & + .ul {
    margin-top: 10px;
  }
}
