html,
body {
  margin:0;
  padding:0;
  height: 100%;
}

.min-height {
  min-height: 100%;
}

.u-fullheight {
  height: 100%;
}

/* Overlay important panels over map */
#places-panel,
#search-panel {
  position: relative;
  z-index: 1;
}

#edit-map {
  margin: 15px;
}
