html,
body {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
}

body {
  display: flex;
  flex-direction: column;
}

/**
 * App structure:
 *
 * <body>
 *   <fold>
 *     <navbar></navbar>
 *     <content></content>
 *   </fold>
 *   <footer></footer>
 * </body>
 */

.fold {
  position: relative;

  /* as parent of <section> */
  display: flex;
  flex-direction: column;

  /* as child of <body> */
  min-height: 100vh;
  flex-grow: 1;
}

.navigation {
  /* Don't grow or shrink */
  flex-grow: 0;
  flex-shrink: 0;
}

.section--tall {
  /* as child of <fold> (probably) */
  flex-grow: 1;

  /* as parent of <columns> (probably) */
  display: flex;
  flex-flow: column wrap;
}

.columns--tall {
  /* as child of <section> (probably) */
  flex-grow: 1;
}

.footer {
  flex-grow: 0;
  z-index: 5;
}

/* Overlay important panels over map */
#places-panel,
#search-panel {
  position: relative;
  z-index: 1;
}

.edit-box {
  /* TODO: improve */
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
}

.map-wrapper {
  position: relative;
}

.card + .card {
  margin-top: 30px;
}


/**
 * Utilities
 */
.u-fullheight {
  height: 100%;
}


/**
 * Flexible vertical stack
 */
.flex-el {
  display: flex;
  flex-direction: column;
}

.flex-el__child-keep {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-el__child-grow {
  flex-grow: 1;
  flex-shrink: 1;
}



.places-panel {
  overflow: auto;
}


/* Navbar */
.navbar-main {
  z-index: 1000;
}
