- name = "Edit ‘#{@book.name}’ book"
- content_for :title, name
- content_for :breadcrumbs, breadcrumbs([[name, books_path]])

%section.hero.is-primary
  .hero-body
    .container
      %h1.title= name

%section.section
  .container
    = render "form", book: @book
