.card.card--hover.card--equal-height
  = link_to book_mastermap_path(book) do
    .card-content
      .content
        %p.title.has-text-link.card__title Mastermap
        %p.subtitle All places in a single place
